.currentpage{
	width: 100%;
	height: 80px;
	float: left;
	position: relative;
}
.pagename{
	width: 50%;
	height: 100%;
	font-size: 35px;
	line-height: 80px;
}
.user{
	width: 77px;
	border: 2px solid white;
	background-color: orange;
	height: 77px;
	position: absolute;
	top: 0px;
	right: 10px;
	border-radius: 50%;
}
.user img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.borderhover img{
	width: 40px;
	height: 40px;
}